# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:4000

# Application URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth0 Configuration
NEXT_PUBLIC_AUTH0_BASE_URL=https://your-auth0-domain.eu.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=your-auth0-client-id
NEXT_PUBLIC_AUTH0_CLIENT_ID_SOCIAL=your-auth0-social-client-id
NEXT_PUBLIC_AUTH0_CLIENT_SECRET=your-auth0-client-secret
NEXT_PUBLIC_AUTH0_API_URL=https://your-auth0-domain.eu.auth0.com

# Web3Auth Configuration
NEXT_PUBLIC_WEB3_AUTH_CLIENT_ID=your-web3auth-client-id
NEXT_PUBLIC_WEB3AUTH_CONNECTION_ID=your-web3auth-connection-id

# WalletConnect Configuration
NEXT_PUBLIC_PROJECT_ID=your-walletconnect-project-id

# Blockchain Configuration
NEXT_PUBLIC_BLOCKCHAIN_CHAIN_ID=1
NEXT_PUBLIC_BLOCKCHAIN_RPC_URL=https://your-rpc-url-here
NEXT_PUBLIC_BLOCKCHAIN_NAME=Ethereum Mainnet
NEXT_PUBLIC_BLOCKCHAIN_EXPLORER=https://etherscan.io
NEXT_PUBLIC_BLOCKCHAIN_TICKER=ETH
NEXT_PUBLIC_BLOCKCHAIN_TICKER_NAME=Ethereum

# Smart Contract Addresses
NEXT_PUBLIC_NFT_CONTRACT_ADDRESS=0x-your-nft-contract-address
NEXT_PUBLIC_INVESTMENT_TOKEN_CONTRACT_ADDRESS=0x-your-investment-token-contract-address
NEXT_PUBLIC_INVESTMENT_TOKEN_SYMBOL=TRU
NEXT_PUBLIC_INVESTMENT_TOKEN_DECIMALS=18
