node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


# Local Hardhat HOME override (sandbox / CI)
.hardhat-home/
